:root {
    --color-txt: white;
    --text-shdw: 3px 3px #6699CC;
}

* {
    font-family: "ArcadeClassic";
}

body {
        width: auto;
        color: white;
        background-image: url(./img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: 100%;}

footer {
    margin: 4vw 20%;
    padding: 8vw auto;
    border-radius: 2vw;
    background-color: black;
    text-align: center;
}

.weapon p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-txt);
}

.megaCont {
    margin: 0 20%;
}

.text-banner {
    text-align: center;
    background-color: rgb(23, 205, 241);
    padding: 2vw;
    border-radius: 2vw;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    text-shadow: var(--text-shdw);
}

.text-banner h1 {
    margin: 2vw 15%;
    font-size: 4rem;
    text-align: center;
    text-shadow: var(--text-shdw);
}

.text-banner h2 {
    font-size: 30px;
    text-shadow: var(--text-shdw);
}

.gamecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}


.topcontainer {
    color: var(--color-txt);
    font-size: xx-large;
}

.playercontainer {
    background-color: rgb(187, 46, 252);    
    border-radius: 2vw;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
    width: min(400px, 40vw);
    height: min(250px, 30vw);
    text-align: center;
    padding-top: 5px;
}

.playerinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerimg {
    margin: 5px;
    height: min(50px, 8vw);
    width: min(50px, 8vw);
}
    
.playerh1 {
    text-align: center;
    color: var(--color-txt);
}

.choices {
    display: flex;
    justify-content: center;
}

.weapon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-txt);
    border-radius: 10px;
    width: min(120px, 16vw);
    height: min(120px, 16vw);
    margin: 2vw;
    border-radius: 3px;
    box-shadow: 4px 5px 0px black;
    border-bottom: 2px solid;
    border-right: 1px solid;
    transform: translate(-1%, -3%);
}

.weapon {
    display: flex;
    flex: auto;
    border: 5px solid #000000;
    border-radius: 4vw;
    margin: 1rem;
    transition: all 0.6s ease;
}

.weapon img {
    width: 50px;
}

.rock {
    background-color: #f6c7e8;
    box-shadow: 5px 7px 8px #ca6bbb;
}

.paper {
    background-color: #ace2e2;
    box-shadow: 5px 7px 8px #7ad0dc;
}

.scissors {
    background-color: #fdd463;
    box-shadow: 5px 7px 8px #f86006;
}

.resetCont {
    text-align: center;
}

#reset {
    background-color: rgb(254, 119, 36);
    border-radius: 10px;
    color: var(--color-txt);
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;

}

.footer {
    padding: 10px;
}
